.div-btn {
    padding-top: 10px;
}

header {
    background-color: #2e2e2e;
    height: 60px;
    color: #ddd;
}

hgroup {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

hgroup div.tab {
    float: left;
    padding: 20px 10px;
}

hgroup div.user-panel {
    float: right;
    padding: 10px 10px;
}

hgroup div.tab a {
    color: #ddd;
    border-right: #aaa outset 1px;
    padding: 15px 42px;
}

hgroup div.tab a:first-child {
    padding-left: 0px;
}

hgroup div.tab a:last-child {
    border-right: none;
}

.block-label {
    display: block;
}

div.login-form {
    width: 30%;
    border: solid 2px #ddd;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 7%;
    background-color: #eee;
}

div.login-form div {
    padding-top: 15px;
}